
.carousel-caption{
    background: rgba(0,0,0,0.5);
    left: 0%;
    right: 0%;
    padding-top: 0;
}

.carousel-inner {
    background: #82b8f2;
    border-radius: 5px;
    border: 2px solid #fff;
}

.carousel-control.left {
    border-radius: 5px 0px 0px 5px;
}

.carousel-control.right {
    border-radius: 0px 5px 5px 0px;
}

.carousel-inner .item img {
    max-height: 400px;  /* <-- height of carousel here*/
    margin-left: auto;
    margin-right: auto;
}

.image-with-caption {
	margin: 0 auto;
	text-align: center;
	border: 1px solid rgba(56, 57, 60, 1);
	border-radius: 5px;
	padding: 10px;
	padding-bottom: 0px;
	font-size: 10pt;
	background-color: rgba(17, 18, 21, 1);
}

table a, p a {
    color: #5BC0DE;
}

table a:hover, p a:hover {
    color: #3f99b3;
    text-decoration: none;
}

.img-well-white {
    padding: 9px;
    border-radius: 3px;
    border: 1px solid #0C0D0E;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    height: auto;
}

.download-links  a {
	color: #5BC0DE;
}

.footer {
    padding-top:20px;
    height: 50px;
    text-align: center;
    font-size: 11px;
    color: #888;
    border-top: 1px solid #111;
    margin-top: 50px;
    -moz-box-shadow: inset 0px 50px 50px -50px #111;
    -webkit-box-shadow: inset 0px 50px 50px -50px #111;
    box-shadow: inset 0px 50px 50px -50px #111;
}

/* Sticky footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}