
.carousel-caption{
    background: rgba(0,0,0,0.5);
    left: 0%;
    right: 0%;
    padding-top: 0;
}

.carousel-inner {
    background: #82b8f2;
    border-radius: 5px;
    border: 2px solid #fff;
}

.carousel-control.left {
    border-radius: 5px 0px 0px 5px;
}

.carousel-control.right {
    border-radius: 0px 5px 5px 0px;
}

.carousel-inner .item img {
    max-height: 400px;  /* <-- height of carousel here*/
    margin-left: auto;
    margin-right: auto;
}

.image-with-caption {
	margin: 0 auto;
	text-align: center;
	border: 1px solid rgba(56, 57, 60, 1);
	border-radius: 5px;
	padding: 10px;
	padding-bottom: 0px;
	font-size: 10pt;
	background-color: rgba(17, 18, 21, 1);
}

.image-multiple-white{
	display:inline-block;
	width:304px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    border: 1px solid #0C0D0E;
    background: #fff;
    height: auto;
	padding: 4px;
}

table a, p a {
    color: #5BC0DE;
}

table a:hover, p a:hover {
    color: #3f99b3;
    text-decoration: none;
}

.img-well-white {
    padding: 9px;
    border-radius: 3px;
    border: 1px solid #0C0D0E;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    height: auto;
}

.download-links  a {
	color: #5BC0DE;
}

.footer {
    padding-top:20px;
    height: 50px;
    text-align: center;
    font-size: 11px;
    color: #888;
    border-top: 1px solid #111;
    margin-top: 50px;
    -moz-box-shadow: inset 0px 50px 50px -50px #111;
    -webkit-box-shadow: inset 0px 50px 50px -50px #111;
    box-shadow: inset 0px 50px 50px -50px #111;
}

.well a {
    color: #5BC0DE;
    text-decoration: underline;
}

.well a:hover {
    color: #3f99b3;
    text-decoration: none;
}

/* Sticky footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.paragraph-well {
    min-height: 20px;
    margin-bottom: 20px;
    background-color: #1C1E22;
    border: 1px solid #0C0D0E;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
    padding: 9px;
    border-radius: 3px;
}

.paragraph-well p:last-child {
    margin-bottom: 0px;
}

.image-panel-wrap {
    text-align: center;
    margin-bottom: 20px;
}

.image-panel {
    border-radius: 3px;
    border: 1px solid #0C0D0E;
    background: #fff;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    background-clip: padding-box;
}

.image-panel img {
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    height: auto;
}

.image-panel img.multi-image-200 {
    width: auto;
    display:inline;
    height: 200px;
}

.image-panel .image-panel-caption {
    background: #1C1E22;
    color: #C8C8C8;
    padding: 5px;
    font-size: 12px;
    text-align:left;
}

span.explain {
    cursor: help;
    border-bottom: 1px dotted #7A8288;
}

.image-panel-caption a, .paragraph-well a {
    color: #5BC0DE;
}

.image-panel-caption a:hover, .paragraph-well a:hover {
    color: #3f99b3;
    text-decoration: none;
}

.centered-panel-wrap {
    width: 100%;
    text-align: center;
}

.centered-panel-wrap .panel {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
